node_modules
**/node_modules
.next
**/.next
out
**/out
dist
**/dist
build
**/build
coverage
*.log
*.tsbuildinfo
.DS_Store
.env
.env.local
.env.*.local
.vercel
.turbo
**/.turbo
.cursor
minio_data
desktop
